.block-editor-button-block-appender {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: $grid-unit-15;
	color: $dark-gray-primary;

	// Block UI appearance.
	border-radius: $radius-block-ui;
	background-color: $white;
	box-shadow: 0 0 0 $border-width $dark-gray-primary;
	outline: 1px solid transparent; // Shown for Windows 10 High Contrast mode.
}
